---
import Layout from "@layouts/index.astro";
import Study from "@components/ui/StudyInterface.preact";


import {$user} from '@/lib/db/nanostores/user.store'

if ($user.get() === undefined && Astro.url.pathname !== "/") {
    return Astro.redirect("/");
}

---

<Layout>
    <div class="container mx-auto mt-14">

        <Study client:only="preact" />
    </div>
</Layout>
