---
import Layout from "@layouts/index.astro";
import Study from "@components/StudyInterface.preact";


import {$user} from '@lib/db/user.store'

if ($user.get() === undefined && Astro.url.pathname !== "/") {
    return Astro.redirect("/");
}

---

<Layout>
    <div class="mx-auto min-h-full" >
        <Study client:only="preact" />
    </div>
</Layout>
