---
import Layout from "@layouts/index.astro";


import {$user} from '@/lib/db/nanostores/user.store'

if ($user.get() === undefined && Astro.url.pathname !== "/") {
    return Astro.redirect("/");
}

---

<Layout>
    <div class="container mx-auto mt-14">

        <h1>resultados</h1>
        
    </div>
</Layout>
