---

---

<style>
    /* button default */
    .btn-outline:hover {
        background: rgba(103, 80, 164, 0.08);
    }
    .btn-outline:focus {
        background: rgba(103, 80, 164, 0.12);
    }
    .btn:hover::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-white opacity-[.08];
        content: "";
    }
    .btn:focus::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-white opacity-[.12];
        content: "";
    }
    .dark .btn:hover::after {
        @apply bg-primary-800 opacity-[.08];
    }
    .dark .btn:focus::after {
        @apply bg-primary-800 opacity-[.12];
    }
    .btn[disabled] {
        @apply bg-transparent hover:shadow-none text-neutral-300;
    }
    .btn[disabled]::after,
    .btn[disabled]:hover::after,
    .btn[disabled]:focus::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-neutral-900 opacity-[.12];
        content: "";
    }
    .dark .btn[disabled]::after,
    .dark .btn[disabled]:hover::after,
    .dark .btn[disabled]:focus::after {
        @apply bg-neutral-100 opacity-[.12];
    }

    /* btn outline  */
    .btn-outline:hover::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-primary-600 opacity-[.08];
        content: "";
    }
    .btn-outline:focus::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-primary-600 opacity-[.12];
        content: "";
    }
    .dark .btn-outline:hover::after {
        @apply bg-primary-200 opacity-[.08];
    }
    .dark .btn-outline:focus::after {
        @apply bg-primary-200 opacity-[.12];
    }
    .btn-outline[disabled] {
        @apply bg-transparent hover:shadow-none text-neutral-300;
    }
    .btn-outline[disabled]::after,
    .btn-outline[disabled]:hover::after,
    .btn-outline[disabled]:focus::after {
        @apply absolute inset-0 rounded-[6.25rem] bg-transparent;
        content: "";
    }
</style>

<button
    class:list={[
        "btn-outline ",
        "min-w-10 min-h-10 gap-x-2  px-[15%]", 
        "border border-gray-500 dark:border-gray-400 dark:text-primary-200 text-primary-600",        
        "rounded-[6.25rem] relative !inline-flex items-center justify-center tracking-[.00714em] ",
    ]}
>

    <slot/>

    
</button>
