---
import AddExpresion from "@components/AddExpression.astro";
import Layout from "@layouts/index.astro";
import { supabase } from "@lib/supabase";

const { book_id, book_name } = Astro.params;

//  get all card_expresion
const { data: card_expresion, error } = await supabase
    .from("card_expression")
    .select("*")
    .eq("user_book_id", book_id);

console.log(card_expresion);


---
<Layout title="books">
    <h1>book {book_name}</h1>


    <h3>agrega nueva expresion</h3>

    <form method="POST" action="/api/v0/userbook/add-expression">
        <input type="text" name="expression" value="" />
        <input type="hidden" name="user_book_id" value={book_id}/>
        <input type="hidden" name="user_book_name" value={book_name}/>
        <input type="submit" value="crear nueva expression" />
    </form>
    
</Layout>
