---
import AppBar from "./AppBar.astro";
import M3Desing from "./M3/head.astro";


---

<html lang="en" data-darkreader-scheme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Flashky</title>

		<M3Desing />


	</head>

	<body class="dark">
		<main>
			<slot />
		</main>
		<md-outlined-button>Back</md-outlined-button>

		<md-filled-button>Complete</md-filled-button>
		<md-filled-button>Complete</md-filled-button>

		<md-dialog open>
			<div slot="content">
			  A dialog that is opened by default.
			</div>
		  </md-dialog>
	</body>
</html>
