---

import type { SPB_UserData } from "@env";
import ListUserBooks from "@components/ListUserBooks.astro";
import Layout from "@/layouts/index.astro";

import {$user} from '@lib/db/user.store'
if ($user.get() === undefined && Astro.url.pathname !== "/") {
    return Astro.redirect("/");
}

---
<Layout >
    <div class="container mx-auto">
        <ListUserBooks  />
    </div>
</Layout>