---

import ListUserBooks from "@components/ListUserBooks.astro";
import Layout from "@components/layouts/index.astro";

import {$user} from '@lib/user/user.store'

---
<Layout >
    <div class="container mx-auto">
        <ListUserBooks  />
    </div>
</Layout>