---
import Layout from "@/components/layouts/index.astro";
---

<Layout title="Registrarse">

    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/dashboard">entrar</a>
</Layout>
