
<!-- this is the landing page -->


<h1>flashky is a app for learn and inprove your english listening </h1>

<p>the best way to learn english</p>

<h2>begin used of repeat speace algorithm </h2>
<p>the repeat speace algorithm is</p>