---
---


  <form action="/api/v0/auth/login" method="post">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" />
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Iniciar sesión</button>
  </form>

  <form action="/api/v0/auth/OAuth/provider" method="post">
    <button value="github" name="provider"  type="submit">Inicia sesión con Github</button>
  </form>
  

  <form action="/api/v0/auth/register" method="post">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" />
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Iniciar sesión</button>
  </form>
  
  <form action="/api/v0/auth/OAuth/provider" method="post">
    <button value="github" name="provider"  type="submit">Inicia sesión con Github</button>
  </form>
