---
const { book_id, book_name } = Astro.props;
---


<button
    type="submit"
    class="text-2xl font-bold rounded-full h-min px-4 flex items-center justify-center"
    >✒</button
>

<h1
    user-book-title
    user-book-id={book_id}
    contenteditable="true"
    class="outline-none bg-transparent text-3xl font-bold"
>
{book_name}

</h1>



<script >
    const input = document.querySelector("[user-book-title]")
    const book_id = input?.getAttribute("user-book-id")
    const handle =  (e: KeyboardEvent) => {

        if (e.key === "Enter") {
            e.preventDefault();

            fetch(`/api/v0/userbook/set-${book_id}-${input?.innerHTML}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                // body: JSON.stringify({ name: input?.innerHTML, id: userbook_id }),
            }).then((response) => {
                if (response.status === 200) {
                    return window.location.href = `/app/books/`
                }else{
                    console.log(response)
                }
                
            }).catch((error) => {
                console.error("Error:", error);
            });

        }
    };
    
    input?.addEventListener('keypress', handle as EventListenerOrEventListenerObject)
</script>