---
import { supabase } from "@lib/supabase";

import type { SPB_UserData, SPB_UserBook } from "@/env";
import AddUserbook from "./AddUserbook.astro";

// types
import type {
    PostgrestSingleResponse,
    PostgrestError,
} from "@supabase/supabase-js";
type UserBook = PostgrestSingleResponse<SPB_UserBook[]>;
interface Props {
    user_data: SPB_UserData;
}

// props
const { user_data } = Astro.props;

// supabase userbook
const { data: userbook, error }: UserBook = await supabase
    .from("user-book")
    .select("*")
    .eq("user_id", user_data.id);

console.log(userbook);
---

<div class="flex flex-col sm:flex-row items-center justify-between gap- mb-16">

    <h3 class="text-2xl font-semibold text-gray-700 dark:text-white">
        Lista de libros
    </h3>
    <AddUserbook user_id={user_data.id} />
</div>


<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5  gap-4">
    {
        userbook?.length == 0 ? (
            <h3>"no hay libros disponibles crea uno nuevo"</h3>
        ) : (
            userbook?.map((v) => (
                <>
                    <a href={"/app/books/" + v.id + "-" + v.name}>
                        <div
                            aria-hidden="true"
                            class="h-full w-full rounded-3xl border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-600/10 dark:shadow-none transition duration-500 group-hover:scale-105 lg:group-hover:scale-110 p-8"
                        >
                            <div class="flex flex-col ">
                                <span class="text-4xl ml-auto">📕</span>
                                <h5 class="text-xl font-semibold text-gray-700 dark:text-white">
                                    {v.name}
                                </h5>
                            </div>
                        </div>
                    </a>
                </>
            ))
        )
    }
</div>


