---
import BtnIcon from "@components/ui/BtnIcon.astro";
import Navigator from "./Navigator.astro";
---

<div
  class="sm:hidden z-20 fixed bottom-0 inset-x-0 px-[10%] w-full h-16 flex flex-row items-center justify-between gap-1.5 bg-surface-100 dark:bg-surfacedark-100"
>
<Navigator/>
 
  
</div>
