---

---

<div
  class="sticky inset-x-0 top-0 h-16 border-b bg-white dark:bg-gray-800 dark:border-gray-700 lg:py-2.5"
>
  <div class="flex items-center justify-between space-x-4 px-6 2xl:container">
    <a href="/">
      <h5
        hidden
        class="text-2xl font-medium text-gray-600 lg:block dark:text-white"
      >
        Dashboard
      </h5>
    </a>
    <button
      class="-mr-2 h-16 w-12 border-r lg:hidden dark:border-gray-700 dark:text-gray-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="my-auto h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
    <div class="flex space-x-4">
      <!--search bar -->
      <div hidden class="md:block">
        <div
          class="relative flex items-center text-gray-400 focus-within:text-cyan-400"
        >
          <span
            class="absolute left-4 flex h-6 items-center border-r border-gray-300 pr-3 dark:border-gray-700"
          >
            <svg
              xmlns="http://ww50w3.org/2000/svg"
              class="w-4 fill-current"
              viewBox="0 0 35.997 36.004"
            >
              <path
                id="Icon_awesome-search"
                data-name="search"
                d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
              ></path>
            </svg>
          </span>
          <input
            type="search"
            name="leadingIcon"
            id="leadingIcon"
            placeholder="Search here"
            class="outline-none w-full rounded-xl border border-gray-300 py-2.5 pl-14 pr-4 text-sm text-gray-600 transition focus:border-cyan-300 dark:bg-gray-900 dark:border-gray-700"
          />
        </div>
      </div>
      <!--/search bar -->

      <button
        aria-label="search"
        class="h-10 w-10 rounded-xl border bg-gray-100 active:bg-gray-200 md:hidden dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
      >
        <svg
          xmlns="http://ww50w3.org/2000/svg"
          class="mx-auto w-4 fill-current text-gray-600 dark:text-gray-300"
          viewBox="0 0 35.997 36.004"
        >
          <path
            id="Icon_awesome-search"
            data-name="search"
            d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"
          ></path>
        </svg>
      </button>

      <button
        aria-label="notification"
        class="h-10 w-10 rounded-xl border bg-gray-100 active:bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="m-auto h-5 w-5 text-gray-600 dark:text-gray-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
          ></path>
        </svg>
      </button>
      <button
        aria-label="notification"
        class="h-10 w-10 rounded-xl border bg-gray-100 active:bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="m-auto h-5 w-5 text-gray-600 dark:text-gray-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
          ></path>
        </svg>
      </button>

      <!-- Theme botton -->
      <button
        type="button"
        id="headlessui-listbox-button-:R2lkcr6:"
        aria-haspopup="listbox"
        aria-expanded="false"
        data-headlessui-state=""
        aria-labelledby="headlessui-label-:R1lkcr6: headlessui-listbox-button-:R2lkcr6:"
      >
        <span class="dark:hidden">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
            ><path
              d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              class="fill-sky-400/20 stroke-sky-500"></path><path
              d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
              class="stroke-sky-500"></path></svg
          ></span
        ><span class="hidden dark:inline"
          ><svg viewBox="0 0 24 24" fill="none" class="w-6 h-6"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
              class="fill-sky-400/20"></path><path
              d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
              class="fill-sky-500"></path><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
              class="fill-sky-500"></path></svg
          ></span
        ></button
      >
      <!-- Theme botton -->

      <!-- logout -->
      <a
        href="/api/v0/auth/logout"
        aria-label="chat"
        class="h-10 w-10 flex place-items-center place-content-center rounded-xl border bg-gray-100 active:bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
        ><span class="material-symbols-outlined"> power_settings_new </span>
      </a>
      <!-- logout -->
    </div>
  </div>
</div>
